.implement_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
}
.implement_title {
  color: #36536b;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
  margin-bottom: 24px;
}
.implement_text {
  color: #6c8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.implement_info_block {
  max-width: 445px;
}
@media screen and (max-width: 860px) {
  .implement_block {
    flex-direction: column;
    text-align: center;
  }
}
.ui_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ui_img_block {
  display: flex;
  gap: 45px;
  max-width: 571px;
}
@media screen and (max-width: 860px) {
  .ui_block {
    flex-direction: column-reverse;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .ui_img_block {
    flex-direction: column;
  }
}
.info_card_block {
  display: flex;
  // justify-content: space-between;
  gap: 30px;
  padding-top: 145px;
  margin-bottom: 96px;
}
.info_card {
  text-align: center;
  max-width: 350px;
}
.info_img {
  margin-bottom: 32px;
}
.info_title {
  color: #36536b;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.138px;
  margin-bottom: 16px;
}
.info_text {
  color: #6c8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.115px;
}
@media screen and (max-width: 650px) {
  .info_card_block {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .implement_img {
    max-width: 390px;
  }
}
@media screen and (max-width: 400px) {
  .implement_img {
    max-width: 300px;
  }
}
.register_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.register_title {
  color: #36536b;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.369px;
}
.register_form {
  position: relative;
}
.register_input {
  border-radius: 24px;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  max-width: 445px;
  padding: 16px 0;
  width: 445px;
  border: none;
  position: relative;
  padding-left: 27px;
}
.register_btn {
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  padding: 16px 24px;
  border-radius: 24px;
  background: #ba4270;
  border: none;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 500px) {
  .register_title {
    font-size: 32px;
    font-weight: 400;
  }
  .register_btn {
    display: block;
    position: relative;
    max-width: 445px;
    width: 100%;
  }
  .register_input {
    width: 100%;
    max-width: 445px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 800px) {
  .register_block {
    flex-direction: column;
  }
}
